
body {
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    height: 100%;
    margin:0;
    padding:0;
    background-size: 100% ;
    width:100%;  
    color:black;
}

body:before {
    content: "";
    position: fixed;
    height: 100%; width: 100%;
    background: url('/assets/res/brown-teddy-bear-on-brown-wooden-bench-outside-207891.jpg');
    background-size: cover;
    z-index: -1; /* Keep the background behind the content */     
    filter: blur(2px);
    -webkit-background-size: cover; /* pour Chrome et Safari */
    -moz-background-size: cover; /* pour Firefox */
    -o-background-size: cover; /* pour Opera */
    background-size: cover; /* version standardisée */
}

body > .grid {
    height: 100%;
}

.column {
    max-width: 350px;
}

