form {
    background-color: rgba(228, 228, 228, 0.719);
    padding: 10px 10px !important;
}

.column {
    margin-top: 120px;
    max-width: 60%;
    
}

form {
    border-radius: 7px;
    box-shadow: -1px 2px 5px 5px rgba(0, 0, 0, 0.616),
                -1px 2px 20px rgba(167, 167, 167, 0.6) inset ;
}


.field {
    margin: 15px 5px !important
}

label {
    text-align: left;
    font-size: 16px !important;
}

