<%- include ('header') %>


        <div class="ui vertical stripe segment">
            <div class="ui middle aligned stackable grid container">
                <h2> School statistic</h2>
                <ul>
                    <li class="item">Number of classes : </li>
                    <li class="item">Number of teachers : </li>
                    <li class="item">Number of students : </li>
                </ul>
            </div>
        </div>

<%- include ('footer') %>

