<!DOCTYPE html>

<html>
    <head>
        <title>Register</title>
        <meta charset="utf-8">
    </head>

    <body>       
        <div class="ui middle aligned center aligned grid">
            <div class="column">

                <div class="ui input error">
                    <% if(messages) { %>
                        <%= messages.error %>
                    <% } %>
                </div>

                <form action="/register" method="POST" id="form-register" class="ui large form">
                    <div class="ui stacked segment">
    
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="user icon"></i>
                                <input type="text" name="name" id="name" placeholder="Last name" required>
                            </div>
                        </div>
    
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="envelope icon"></i>
                                <input type="email" name="email" id="email" placeholder="Email" required>
                            </div>
                        </div>
    
                        <div class="field">
                            <div class="ui left icon input">
                                <i class="lock icon"></i>
                                <input type="password" name="password" id="password" placeholder="Password" required>
                            </div>
                        </div>

                        <div class="field">
                            <select name="role">
                                <option value="DIR">Director</option>
                                <option value="TEA">Teacher</option>
                                <option value="SUB">Substitute</option>
                                <option value="TEC">Technician</option>
                            </select>
                        </div>

                        <!--
                        <div class="field">
                            <div class="ui dropdown selection">
                                <input type="hidden" name="role">
                                <i class="dropdown icon"></i>
                                <div class="default text">Role</div>
                                <div class="menu">
                                    <div class="item" data-value='DIR'>Director</div>
                                    <div class="item" data-value='TEA'>Teacher</div>
                                    <div class="item" data-value='SUB'>Substitute</div>
                                    <div class="item" data-value='TEC'>Technician</div>
                                </div>
                            </div>
                        </div> 
                        -->
                        
                        <button type="submit" class="ui fluid large teal submit icon button">
                            <i class="icon edit"></i>  Register
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </body>    
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/stylesheets/login_register.css">
    <script src="/assets/js/register.js"></script>
</html>